*{margin0;padding0;}
header{
	width:100%;
	background:red;
}
.container{
	width:80%;
	margin:0 auto;
}
.logo{
	width:20%;
	float:left;
	margin:30px;
}
nav{
	width:60%;
	float:left;
    margin:30px;
	margin-top:0;
	padding:5px;
}
nav ul{
	list-style:none;
    margin-left:30px;
	padding:0px 15px 0 px 0px;
}
nav ul li{
	text-transform:uppercase;
	display:inline-block;
	

		
}
nav ul li a{
	color:#483a3ac2;
	text-decoration:none;
	display:block;
	margin:21px;
	padding:10px;
	transiton:all 1s ease;
}
nav ul li a:hover{
	color:black;
background:whitesmoke;
	margin:21px;
	padding:10px;
	display:block;
}
.banner-section{
	width:100%;
}
article span{
	color:#5a6749d9;
	text-transform:uppercase;
	font-size:20px;
	line-height:3;
}
article h2{
	color:#010101;
}
article p{
	font-size:15px;
	color:#010101;
}
article a{
	text-decoration:none;
	color:#040403;
	text-transform:uppercase;
	line-height: 10;
	transition:all 1s ease;
}

}
.wrapper{
	width:80%;
	margin:0 auto;
}
.wrapper img{
	width:500px;
	height:300px;
}
.box1{
	width:30%;
	float:left;
	margin-right:180px;
	margin-left:130px;
	float:left;
	
}
.box1 span{
	color:#0f190387;
	text-transform:uppercase;
	font-size:20px;
	line-height:3;
}
.box2{
	width:30%;
     float:left;
	 margin-right:0px;
	margin-left:0px;
	float:left;

	}
.box2 span{
	color:#0f190387;
	text-transform:uppercase;
	font-size:20px;
	line-height:3;
}
.box1 h1{
	color:#4c4c3e;
 text-transform:uppercase;
}
.box2 h1{
	color:#4c4c3e;
	text-transform:uppercase;
}
.box1 p{
	font-size:15px;
	color:#10130e;
	text-align:justify;
}
.box2 p{
	font-size:15px;
	color:#10130e;
	text-align:justify;
}
footer{
	width:100%;
	height:50px;
	background:#ddd;
	display:block;
	overflow:hidden;
	transition:all 1s ease;
	
}
footer p{
	color:#443131;
	padding-left:10px;
	text-align:center;
}
footer p:hover{
	color:black;
	
}
footer:hover{
	background:whitesmoke
}